*{
    font-family: 'Heebo', sans-serif;

}

form{
    position: fixed;
    left: 0;
    height: 100%;
    width: 300px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    background: #f2f2f2;
    padding-top: 30px;
}

#chart{
    padding-left:360px;
}


.multiselect-native-select {
    margin: 20px;
    display: block;
    width: 260px;
}

.btn-group {
    width: 100%;
}

.multiselect.dropdown-toggle.btn.btn-default {
    width: 100%;
    overflow: hidden;
}


.multiselect-container.dropdown-menu {
    max-height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #f2f2f2;
}

.multiselect-container.dropdown-menu{
    width:750px
}

.multiselect-container.dropdown-menu li {
    margin-bottom: 6px;
}
b2{
width: 100%;
box-sizing: border-box;
padding: 200px;
display: block;
font-size: 26px;
color: silver;
text-align: center;
}


form > img{
    filter: invert(100%);
    position: absolute;
bottom: 0;
display: block;
left: 50%;
transform: translate(-50%);
margin-bottom: 80px;
opacity: .6;
}


form > span {
    position: absolute;
    bottom: 35px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #686868;
}

.multiselect.dropdown-toggle.btn.btn-default {
    text-align: left;
    text-transform: none;
    color: #393939;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    position: absolute;
    right: 12px;
    top: 18px;
}

.multiselect-native-select:nth-child(1) .multiselect.dropdown-toggle.btn.btn-default{
    color:red;
} 


.multiselect-native-select:nth-child(3) .multiselect-selected-text{
    color:#367993;
}

.multiselect-native-select:nth-child(4) .multiselect-selected-text{
    color:#cc4e48;
}

.multiselect-native-select:nth-child(5) .multiselect-selected-text{
    color:#33b7a9;
}

.multiselect-native-select:nth-child(6) .multiselect-selected-text{
    color:rgba(0,0,0,.7);
}
/* .multiselect-selected-text:nth-child(1){
    color:red;
} */


.checkbox {
    color: rgba(0,0,0,.6);
}

b {

    color: rgba(0,0,0,.6);

}