*{
    font-family: 'Heebo', sans-serif;

}

form{
    position: fixed;
    left: 0;
    height: 100%;
    width: 300px;
    box-shadow: 1px 1px 4px 3px rgba(0,0,0,.3);
    background: #eee9;
}

#chart{
    padding-left:360px;
}


.multiselect-native-select {
    margin: 20px;
    display: block;
    width: 260px;
}

.btn-group {
    width: 100%;
}

.multiselect.dropdown-toggle.btn.btn-default {
    width: 100%;
    overflow: hidden;
}


.multiselect-container.dropdown-menu {
    max-height: 550px;
    overflow: scroll;
}

.multiselect-container.dropdown-menu{
    width:750px
}

.multiselect-container.dropdown-menu li {
    margin-bottom: 6px;
}